h1 {
    color:black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    color:black;
    padding-bottom: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav {
    background-color: rgb(6, 56, 6);
    position: fixed;
    position: top;
}

body {
    font-family:'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

a, .btn {
    transition: all 300ms ease;
}

/* nav */
nav, nav-link {
    display:flex;
    font-family:'Courier New', Courier, monospace;
    justify-content: space-around;
    font-size: 1.5rem;
    align-items: right;
    position: fixed;
    position: top;
}
nav {
    justify-content: space-around;
    align-items: center;
    position: fixed;
    position: top;
    
}
nav, nav-link {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    position: fixed;
    position: top;
}

.logo {
    font-size: 2rem;
}
.logo:hover {
    cursor: default;
}
/* SECTIONS*/
section {
    padding-top: 4uh;
    height: 96uh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;;
}

/* PROFILE SECTION*/

#home {
    display: flex; 
    justify-content: center;
    gap: 5rem;
    height: 80uh;
    background-color: beige;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    padding: 1.5rem;
}

.section__text {
    align-self: center;
    text-align: center;
    padding: 5rem;
}

.section__text p {
    font-weight: 600;
}
.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 2.75rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */ 

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53)0.3rem solid;
}
.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}
.btn-color-1, .btn-color-2:hover {
    background: rbg(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}
.btn-color-2 {
    background: none;
}
.btn-color-2:hover {
    background: black;
    border: rgb(255, 255, 255)0.2rem solid;
}
.btn-container {
    gap: 1rem;
}

/* ABOUT */
#about {
    
}